@model Exam_Web_Core.ViewModels.UserDetail_Model
@{
    ViewBag.Title = "Thông Tin Cá Nhân";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@{

    <div id="message" style="height:50px;">
        @if (ViewBag.Message == "1")
        {
            <div class="alert alert-success">
                Sửa thông tin thành công!
            </div>
            <script>
                setTimeout(() => {
                    var i = 1;
                    setInterval(() => {
                        document.getElementById("message").style.opacity = i;
                        i -= 0.1;
                    }, 60);

                }, 2000);
            </script>
        }
    </div>
}

<input type="hidden" />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card mt-4">
                <div class="card-header">
                    <h3 class="text-center">Thông tin cá nhân</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" name="HocSinhID" value="@Model.HocSinhID" />
                        <div class="col-12 p-1 justify-content-start d-flex">
                            <label for="name" class="col-3 col-form-label col-form-label p-1">Họ và Tên</label>
                            <div class="col-9">
                                <input type="text" id="TenHS" class="form-control form-control bg-white p-1
                        "
                                       name="TenHS" value="@Model.TenHS"
                                       required autocomplete="off">
                            </div>
                        </div>

                        <div class="col-12 p-1 justify-content-start d-flex">
                            <label for="email" class="col-3 col-form-label col-form-label p-1">E-mail</label>
                            <div class="col-9">
                                <input type="text" id="Email" class="form-control form-control bg-white p-1
                        "
                                       name="Email" value="@Model.Email"
                                       required autocomplete="off">
                            </div>
                        </div>

                        <div class="col-12 p-1 justify-content-start d-flex">
                            <label for="email" class="col-3 col-form-label col-form-label p-1">Tên Đăng Nhập</label>
                            <div class="col-9">
                                <input type="text" id="Username" class="form-control form-control bg-white p-1
                        "
                                       name="name" value="@Model.Username"
                                       required autocomplete="off" disabled="disabled">
                            </div>
                        </div>

                        <div class="col-12 p-1 justify-content-start d-flex">
                            <label for="user_type" class="col-3 col-form-label col-form-label p-1">Phân Quyền</label>
                            <div class="col-9">
                                <span id="user_type">
                                    <span class="badge badge-info" style="font-size:16px">@Model.Role</span>
                                </span>
                            </div>
                        </div>

                        <div class="col-12 p-1 justify-content-start d-flex">
                            <label for="sex" class="col-3 col-form-label col-form-label p-1">Giới Tính</label>
                            <div class="col-9">
                                @Html.DropDownList("GioiTinh", new List<SelectListItem> {
                                new SelectListItem{ Text="-- Chọn --",Value="null"},
                                new SelectListItem{ Text="Nam",Value="true"},
                                new SelectListItem{ Text="Nữ",Value="false"}},
                                htmlAttributes: new { @class = "form-control bg-white p-2" })
                            </div>
                        </div>

                        <div class="col-12 p-1 justify-content-start d-flex">
                            <label for="dob" class="col-3 col-form-label col-form-label p-1">Ngày Sinh</label>
                            <div class="col-9">
                                @* format value yyyy-MM-dd *@
                                <input type="date" id="dob" class="form-control form-control bg-white p-1" name="NgaySinh" value="@Model.NgaySinh" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-2" style="font-size:22px;">Sửa Thông Tin</button>
                    </form>
                </div>
            </div>
            <div>
            </div>
        </div>

        <div class="col-md-2"></div>
    </div>
</div>

